.estates_hero {
	width: 100%;
	background-color: $cetacean_blue;
	background-image: url('../img/home/hero-mobile.webp');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 83px;

	@media(min-width: 768px) {
		background-image: url('../img/home/hero.webp');
	}

	@media(min-width: 1300px) {
		max-height: 700px;
	}

	@media(min-width: 1400px) {
		max-height: 750px;
	}

	@media(min-width: 1500px) {
		max-height: 800px;
	}

	@media(min-width: 1600px) {
		max-height: 850px;
	}

	@media(min-width: 1700px) {
		max-height: 98vh;
	}

	.container {
		height: 100%;
		display: flex;

		@media(min-width: 768px) {
			align-items: center;
		}

	}

	&__h1{
		margin-top: auto;
		margin-bottom: 40px;
		color: $white;
		font-size: 48px;
		line-height: 42px;
		letter-spacing: 3.11px;
		text-align: center;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		width: 100%;

		@media(min-width: 768px){
			text-align: left;
			margin-top: auto;
			margin-bottom: auto;
			max-width: 700px;
			font-size: 70px;
			line-height: 63px;
			letter-spacing: 1.06;
		}

		@media(min-width: 1200px){
			max-width: 650px;
			font-size: 75px;
			line-height: 75px;
		}

		@media(min-width: 1300px){
			max-width: 659px;
			font-size: 75px;
			line-height: 75px;
		}

		@media(min-width: 1400px){
			max-width: 709px;
			font-size: 78px;
			line-height: 81px;
		}

		@media(min-width: 1500px){
			max-width: 759px;
			font-size: 90px;
			line-height: 87px;
		}

		@media(min-width: 1600px){
			max-width: 809px;
			font-size: 96px;
			line-height: 93px;
		}

		@media(min-width: 1700px){
			max-width: 859px;
			font-size: 101px;
			line-height: 98px;
		}

		@media(min-width: 1800px){
			max-width: 950px;
			font-size: 114px;
			line-height: 98px;
		}

	}

}