$white: #FFFFFF;
$black: #000000;
$rich_black: #020202;
$eerie_black: #1f1f1f;

$cetacean_blue: #171b33;
$cetacean_blue_64: rgba(23, 27, 51, 0.9);
$dark_jungle_green: rgba(65, 74, 83, 0.9);
$gunmetal: #223A3F;
$dark_jungle_green_2: #102729;

$desaturated_cyan: #73969d;
$faded_blue: #56aeba;

$golden: #C49055;

$light_silver: #d8d8d8;
$gray: #979797;